.titr {
	text-align: center;
}
.titr h1 {
	display: table;
	margin:0 auto;
	vertical-align: top;
}
.titr h1 .mask {
	display: inline-block;
	overflow: hidden;
}
.titr h1 .mask span {
	display: block;
	position: relative;
}
